<a href="https://colab.research.google.com/github/simonebugo/Big_Data/blob/main/Esercizio_in_aula.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Analisi dei dati anagrafici dei dipendenti di un'azienda**

In [2]:
import numpy as np
import pandas as pd

1. Inserisci in un dataframe il contenuto del file "dipendenti.csv".

   Quante righe e quante colonne ci sono? Ci sono duplicati?

In [1]:
!cat "dipendenti.csv" #vediamo che i dati sono separati da ; in questo caso e che c'è l'heather

Nome;Cognome;Età;Anni di esperienza;Dipartimento;Stipendio;Città
Marco;Rossi;;2;Vendite;30000;Milano
Anna;Bianchi;32;7;Information Technology;45000;Roma
Luca;Verdi;28;5;Vendite;37000;Milano
Sara;Neri;40;12;Information Technology;62000;Roma
Giorgio;Rossi;45;20;Human Resources;70000;Torino
Francesca;Ferrari;;15;Human Resources;58000;Roma
Elena;Romano;34;8;Information Technology;52000;Milano
Simone;Gialli;30;4;Vendite;33000;Napoli
Valentina;Rossi;30;9;Vendite;32000;Napoli
Giorgio;Rossi;45;20;Human Resources;70000;Torino
Anna;Bianchi;32;7;Vendite;45000;Milano
Sara;Bianchi;32;7;Vendite;25000;Roma
Sara;Romano;33;8;Information Technology;40000;Milano
Simone;Gialli;30;4;Vendite;33000;Napoli
Valentina;Rossi;30;12;Vendite;42000;Milano

In [33]:
df = pd.read_csv("dipendenti.csv", sep=';')
df

,Nome,Cognome,Età,Anni di esperienza,Dipartimento,Stipendio,Città
0,Marco,Rossi,NaN,2,Vendite,30000,Milano
1,Anna,Bianchi,32.0,7,Information Technology,45000,Roma
2,Luca,Verdi,28.0,5,Vendite,37000,Milano
3,Sara,Neri,40.0,12,Information Technology,62000,Roma
4,Giorgio,Rossi,45.0,20,Human Resources,70000,Torino
5,Francesca,Ferrari,NaN,15,Human Resources,58000,Roma
6,Elena,Romano,34.0,8,Information Technology,52000,Milano
7,Simone,Gialli,30.0,4,Vendite,33000,Napoli
8,Valentina,Rossi,30.0,9,Vendite,32000,Napoli
9,Giorgio,Rossi,45.0,20,Human Resources,70000,Torino
10,Anna,Bianchi,32.0,7,Vendite,45000,Milano
11,Sara,Bianchi,32.0,7,Vendite,25000,Roma
12,Sara,Romano,33.0,8,Information Technology,40000,Milano
13,Simone,Gialli,30.0,4,Vendite,33000,Napoli
14,Valentina,Rossi,30.0,12,Vendite,42000,Milano

In [6]:
#conto num di righe e di colonne nel dataframe
row_count = df.shape[0]
row_count

15

In [7]:
col_count = df.shape[1]
col_count

7

In [9]:
#verifico se ci sono delle righe completamente duplicate. con il . sum() mi indica quanti dupplicati ci sono
df.duplicated().sum()

np.int64(2)

2. Crea una nuova colonna chiamata **Livello Esperienza**, utilizzando la colonna **Anni di esperienza**. Se l'esperienza è minore di 5 anni, mappa il valore a "Junior", tra 5 e 10 a "Mid" e più di 10 a "Senior".

In [34]:
#si può fare sia con una funzione che con la discretizzazione usando cut
def find_level(anni):
  if anni < 5:
    return 'Junior'
  elif anni <= 10:
    return 'Mid'
  else:
    return 'Senior'

In [35]:
df['Livello Esperienza'] = df['Anni di esperienza'].map(find_level)

In [36]:
#stessa cosa si poteva fare con cut discretizzando la colonna. voglio definire degli intervalli per sostituire i valori
df['Livello Esperienza_cut'] = pd.cut(df['Anni di esperienza'].values,[0,5,11,100],right=False, labels=['Junior','Mid','Senior'])

In [37]:
df

,Nome,Cognome,Età,Anni di esperienza,Dipartimento,Stipendio,Città,Livello Esperienza,Livello Esperienza_cut
0,Marco,Rossi,NaN,2,Vendite,30000,Milano,Junior,Junior
1,Anna,Bianchi,32.0,7,Information Technology,45000,Roma,Mid,Mid
2,Luca,Verdi,28.0,5,Vendite,37000,Milano,Mid,Mid
3,Sara,Neri,40.0,12,Information Technology,62000,Roma,Senior,Senior
4,Giorgio,Rossi,45.0,20,Human Resources,70000,Torino,Senior,Senior
5,Francesca,Ferrari,NaN,15,Human Resources,58000,Roma,Senior,Senior
6,Elena,Romano,34.0,8,Information Technology,52000,Milano,Mid,Mid
7,Simone,Gialli,30.0,4,Vendite,33000,Napoli,Junior,Junior
8,Valentina,Rossi,30.0,9,Vendite,32000,Napoli,Mid,Mid
9,Giorgio,Rossi,45.0,20,Human Resources,70000,Torino,Senior,Senior
10,Anna,Bianchi,32.0,7,Vendite,45000,Milano,Mid,Mid
11,Sara,Bianchi,32.0,7,Vendite,25000,Roma,Mid,Mid
12,Sara,Romano,33.0,8,Information Technology,40000,Milano,Mid,Mid
13,Simone,Gialli,30.0,4,Vendite,33000,Napoli,Junior,Junior
14,Valentina,Rossi,30.0,12,Vendite,42000,Milano,Senior,Senior

3. Sostituisci i nomi dei dipartimenti con le seguenti abbreviazioni: Vendite -> 'VEN', Information Technology -> 'IT', Human Resources -> 'HR'. Quanti dipendenti ci sono per ogni dipartimento?

In [38]:
abbrev_dep = {
    'vendite' : 'VEN',
    'information technology' : 'IT',
    'human resources':'HR'
}

In [39]:
df['Dipartimento']=df['Dipartimento'].str.lower().map(abbrev_dep)

In [40]:
df

,Nome,Cognome,Età,Anni di esperienza,Dipartimento,Stipendio,Città,Livello Esperienza,Livello Esperienza_cut
0,Marco,Rossi,NaN,2,VEN,30000,Milano,Junior,Junior
1,Anna,Bianchi,32.0,7,IT,45000,Roma,Mid,Mid
2,Luca,Verdi,28.0,5,VEN,37000,Milano,Mid,Mid
3,Sara,Neri,40.0,12,IT,62000,Roma,Senior,Senior
4,Giorgio,Rossi,45.0,20,HR,70000,Torino,Senior,Senior
5,Francesca,Ferrari,NaN,15,HR,58000,Roma,Senior,Senior
6,Elena,Romano,34.0,8,IT,52000,Milano,Mid,Mid
7,Simone,Gialli,30.0,4,VEN,33000,Napoli,Junior,Junior
8,Valentina,Rossi,30.0,9,VEN,32000,Napoli,Mid,Mid
9,Giorgio,Rossi,45.0,20,HR,70000,Torino,Senior,Senior
10,Anna,Bianchi,32.0,7,VEN,45000,Milano,Mid,Mid
11,Sara,Bianchi,32.0,7,VEN,25000,Roma,Mid,Mid
12,Sara,Romano,33.0,8,IT,40000,Milano,Mid,Mid
13,Simone,Gialli,30.0,4,VEN,33000,Napoli,Junior,Junior
14,Valentina,Rossi,30.0,12,VEN,42000,Milano,Senior,Senior

4. Crea un'altra colonna con i valori di età discretizzati in 5 gruppi, a quale gruppo di età appartiene la maggior parte dei dipendenti?

In [41]:
df['age_inter'] = pd.cut(df['Età'].values,5)

In [48]:
df['age_inter'].values

[NaN, (31.4, 34.8], (27.983, 31.4], (38.2, 41.6], (41.6, 45.0], ..., (31.4, 34.8], (31.4, 34.8], (31.4, 34.8], (27.983, 31.4], (27.983, 31.4]]
Length: 15
Categories (5, interval[float64, right]): [(27.983, 31.4] < (31.4, 34.8] < (34.8, 38.2] <
                                           (38.2, 41.6] < (41.6, 45.0]]

In [49]:
pd.value_counts(df['age_inter'])

/tmp/ipython-input-1021797232.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(df['age_inter'])

age_inter
(27.983, 31.4]    5
(31.4, 34.8]      5
(41.6, 45.0]      2
(38.2, 41.6]      1
(34.8, 38.2]      0
Name: count, dtype: int64

5. Sostituisci i valori mancanti della colonna età con il valore medio di età per i dipendenti dello stesso settore.

In [ ]:
# Calcoliamo la media età per ogni dipartimento e la "trasferiamo" riga per riga
df['Età'] = df['Età'].fillna(df.groupby('Dipartimento')['Età'].transform('mean'))

6. Verifica se, in media, lo stipendio di chi vive a Milano è superiore rispetto a quello di chi vive a Roma.

In [53]:
df[df['Città'].str.lower() == 'milano']['Stipendio'].mean() > df[df['Città'].str.lower() == 'roma']['Stipendio'].mean()

np.False_